# Core framework
crewai
crewai-tools

# Streamlit UI
streamlit

# Environment variables
python-dotenv

# HTTP requests
requests


youtube-transcript-api
pytube
crewai-tools[youtube]


